.container { 
  background-color: #fff;
}

.header {
  background-color: #f9f9fb;
  padding: 3.125rem 1.5rem 1.875rem 1.5rem;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6875rem;
}

.headerTopLeft {

}

.headerTitle {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1b1b1b;
  margin-bottom: 0.5rem;
}

.headerSubtitle {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(151, 151, 151, 0.8);
}

.headerTopRight {

}

.menuButton {
  width: 1.125rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtonLine {
  background-color: #fb9400;
  height: 0.125rem;
}

.headerBottom {

}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 0px 1.5rem 0 1.5rem;
}